


.btn{
    width: 95%;
    margin-top: 7px;
    margin-left: 2.5%;
    font-size: 9px;
    height: 50px;
}


@media screen AND (max-width:700px){

.nav{
    width: 100%;
    height: 80%;
    border-right: 1px solid #ddd;
}
    
#btnServiciosOfertados{
    width: 100% !important;
    margin-left: 0px !important;
}

.ListaServicios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.nombreEnsayo{
    width: 50%;
    font-size: 10px;
}
.metodo{
    width: 50%;
    font-size: 10px;
}
.condiciones{
    width: 50%;
    font-size: 10px;
}
.precio{
    width: 25%;
    font-size: 10px;
}
.seleccione{
    width: 25%;   
    font-size: 10px;
}


.ocultarEnMovil{
    display: none;
}

article{
    width: 95%;
    margin: auto;
    height: 90%;
}


.marcoContenidoPrincipal{
    width: 100%;
    position: relative;
    top: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.marcoContenidoservicios{
    display: block;
}

footer{
    display: none;
}
}

@media screen AND (min-width:700px) and (max-width: 900px){

.nav{
    width: 20%;
    height: 80%;
    border-right: 1px solid #ddd;
    
}

#btnServiciosOfertados{
    width: 200px !important;
    margin-left: 0px !important;
}

article{
    width: 80%;
    margin: auto;
    height: 90%;
}

.marcoContenidoPrincipal{
    width: 100%;
    position: relative;
    top: 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.ListaServicios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.nombreEnsayo{
    width: 25%;
    font-size: 10px;
}
.metodo{
    width: 25%;
    font-size: 10px;
}
.condiciones{
    width: 25%;
    font-size: 10px;
}
.precio{
    width: 15%;
    font-size: 10px;
}
.seleccione{
    width: 10%;   
    font-size: 10px;
}

footer{
    display: none;
}
}

@media screen AND (min-width:900px){

.nav{
    width: 15%;
    height: 80%;
    border-right: 1px solid #ddd;
    
}    

#btnServiciosOfertados{
    width: 200px !important;
    margin-left: 0px !important;
}

article{
    width: 85%;
    height: 80%;
    
}

.marcoContenidoPrincipal{
    width: 80%;
    margin: auto;
    position: relative;
    top: 20px;
    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 1px solid #ddd;
    padding: 10px;
}

.ListaServicios{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.nombreEnsayo{
    width: 25%;
    font-size: 10px;
}
.metodo{
    width: 25%;
    font-size: 10px;
}
.condiciones{
    width: 25%;
    font-size: 10px;
}
.precio{
    width: 15%;
    font-size: 10px;
}
.seleccione{
    width: 10%;   
    font-size: 10px;
}

.nombreEnsayoT{
    width: 25%;
    font-size: 10px;
    text-align: center;
    background: #e4e4e4;
    padding: 2px;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.metodoT{
    width: 25%;
    font-size: 10px;
    text-align: center;
    background: #e4e4e4;
    padding: 2px;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.condicionesT{
    width: 25%;
    font-size: 10px;
    text-align: center;
    background: #e4e4e4;
    padding: 2px;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.precioT{
    width: 15%;
    font-size: 10px;
    text-align: center;
    background: #e4e4e4;
    padding: 2px;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.seleccioneT{
    width: 10%;   
    font-size: 10px;
    text-align: center;
    background: #e4e4e4;
    padding: 2px;
    border: 1px solid #fff;
    box-sizing: border-box;
}

footer{
    bottom: 0;
    width:100%;
    height: 10%;
    border-top: 1px solid #ddd;
}

}