<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>cotizacion</title>
        <link rel="stylesheet" href="../../style/generalFrame.css">
        <link rel="stylesheet" href="../../style/comercial/cotizacion.css">
        <link rel="stylesheet" href="../../library/materialize/css/materialize.min.css">
        <link rel="stylesheet" href="../../library/Bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <script src="../../library/js/jquery-3.2.1.min.js"></script>
        <script src="../../library/materialize/js/materialize.min.js"></script>
    </head>
    <body>
        
        <div class="generalFrame">
            <header class="header">
                        <div class="marcoencabezadoLateralIzq"><a href="../home.html">
                                <i class="fas fa-home"></i>
                                
                    </a></div>
                <div class="marcoCentral">COTIZACIÓN</div>
                <div class="marcoencabezadoLateralDer">
                    <a href="#" data-target="slide-out" class="sidenav-trigger menuHamburguesa"><i class="fas fa-bars"></i></a>
                </div>
            </header>
            
            <ul id="slide-out" class="sidenav">
              <li><div class="user-view">
            <nav class="nav">
                    <button type="button" class="btn btn-primary">COTIZACIÓN</button>
                    <button type="button" class="btn btn-primary">SEGUIMIENTO A COTIZACIONES</button>
                    <button type="button" class="btn btn-primary">CREAR CLIENTES</button>
                    <button type="button" class="btn btn-primary">PORTAFOLIO DE SERVICIOS</button>
                    <button type="button" class="btn btn-primary">CREAR OFERTAS</button>
                    <button type="button" class="btn btn-primary">OPERACIÓN COMERCIAL</button>
            </nav>
            </div></li>
            </ul>  
                 
            <nav class="nav ocultarEnMovil">
                    <button type="button" class="btn btn-primary">COTIZACIÓN</button>
                    <button type="button" class="btn btn-primary">SEGUIMIENTO A COTIZACIONES</button>
                    <button type="button" class="btn btn-primary">CREAR CLIENTES</button>
                    <button type="button" class="btn btn-primary">PORTAFOLIO DE SERVICIOS</button>
                    <button type="button" class="btn btn-primary">CREAR OFERTAS</button>
                    <button type="button" class="btn btn-primary">OPERACIÓN COMERCIAL</button>
            </nav>
            
            
            <article>
                
                <div class="marcoContenidoPrincipal">
                    
                    <p>1. Cliente nuevo</p>
                    
                    <p>2. Servicios requeridos</p>
                    
                    <div class="form-group">
                        <label>SECTOR</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Alimentos procesados</option>
                          <option>Cosmeticos</option>
                          <option>Farmaceuticos</option>
                          <option>Aguas</option>
                        </select>
                    </div>
                    
                    <div class="form-group">
                        <label>MATRIZ</label>
                        <select class="form-control" id="exampleFormControlSelect1">
                          <option>Harinas</option>
                          <option>Carnes</option>
                          <option>Cereales</option>
                          <option>Aguas potables</option>
                        </select>
                    </div>
                    
                    <button type="button" class="btn btn-primary" id="btnServiciosOfertados">SERVICIOS OFERTADOS</button>   
            
                    <br/>
                    <br/>
                    
                    <div class="marcoContenidoservicios" style="display: none;">
                        
                        <p>LABORATORIO MICROBIOLOGÍA</p>
                        <br/>
                        <div class="ListaServicios">
                            <div class="nombreEnsayoT">ENSAYO</div>
                            <div class="metodoT">METODO</div>
                            <div class="condicionesT">CONDICIONES</div>
                            <div class="precioT">PRECIO</div>
                            <div class="seleccioneT">SELECCIONE</div>
                            <div class="nombreEnsayo">MOHOS Y LEVADURAS</div>
                            <div class="metodo">INVIMA</div>
                            <div class="condiciones">5 DIAS RESULTADOS</div>
                            <div class="precio">$ 56.300</div>
                            <div class="seleccione">
                                <input type="checkbox">
                            </div>
                            <div class="nombreEnsayo">COLIFORMES TOTALES</div>
                            <div class="metodo">ISO 774</div>
                            <div class="condiciones">5 DIAS RESULTADOS</div>
                            <div class="precio">$47.000</div>
                            <div class="seleccione"></div>
                            <div class="nombreEnsayo">LISTERIA</div>
                            <div class="metodo">ISO 18034</div>
                            <div class="condiciones">3 DIAS</div>
                            <div class="precio">$94.000</div>
                            <div class="seleccione"></div>
                        </div>
                        
                    </div>
                    
                    
                    
                    
                </div>
                
            </article>
            
            <footer></footer>
            
            
        </div>
        <script>
             $(document).ready(function(){
                $('.sidenav').sidenav();
                
                
                
                $("#btnServiciosOfertados").click(function(){
                    
                    $(".marcoContenidoservicios").show();
                    
                });
                
                
             });
        </script>
    </body>
</html>
