<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>cotizacion</title>
        <link rel="stylesheet" href="../../style/generalFrame.css">
        <link rel="stylesheet" href="../../style/comercial/cotizacion.css">
        <link rel="stylesheet" href="../../library/materialize/css/materialize.min.css">
        <link rel="stylesheet" href="../../library/Bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <script src="../../library/js/jquery-3.2.1.min.js"></script>
        <script src="../../library/materialize/js/materialize.min.js"></script>
    </head>
    <body>
        
        <div class="generalFrame">
            <header class="header">
                        <div class="marcoencabezadoLateralIzq"><a href="../home.html">
                                <i class="fas fa-home"></i>
                                
                    </a></div>
                <div class="marcoCentral">COTIZACIÓN</div>
                <div class="marcoencabezadoLateralDer">
                    <a href="#" data-target="slide-out" class="sidenav-trigger menuHamburguesa"><i class="fas fa-bars"></i></a>
                </div>
            </header>
            
            <ul id="slide-out" class="sidenav">
              <li><div class="user-view">
            <nav class="nav">
                    <button type="button" class="btn btn-primary">COTIZACIÓN</button>
                    <button type="button" class="btn btn-primary">SEGUIMIENTO A COTIZACIONES</button>
                    <button type="button" class="btn btn-primary">CREAR CLIENTES</button>
                    <button type="button" class="btn btn-primary">PORTAFOLIO DE SERVICIOS</button>
                    <button type="button" class="btn btn-primary">CREAR OFERTAS</button>
                    <button type="button" class="btn btn-primary">OPERACIÓN COMERCIAL</button>
            </nav>
            </div></li>
            </ul>  
                 
            <nav class="nav ocultarEnMovil">
                    <button type="button" class="btn btn-primary">COTIZACIÓN</button>
                    <button type="button" class="btn btn-primary">SEGUIMIENTO A COTIZACIONES</button>
                    <button type="button" class="btn btn-primary">CREAR CLIENTES</button>
                    <button type="button" class="btn btn-primary">PORTAFOLIO DE SERVICIOS</button>
                    <button type="button" class="btn btn-primary">CREAR OFERTAS</button>
                    <button type="button" class="btn btn-primary">OPERACIÓN COMERCIAL</button>
            </nav>
            
            
            <article></article>
            
            <footer></footer>
            
            
        </div>
        <script>
             $(document).ready(function(){
                $('.sidenav').sidenav();
             });
        </script>
    </body>
</html>
